body{
    background: rgb(197, 190, 178);
    font-size: 1.25rem;
}

h1,h2{
   text-align: center;
   margin: 2cm;
}

.pin{
   float: left;
   margin: 1em 1em 1em 1em;
}

a{
   color:black;
}

h4{
   margin: 2rem 4rem 3rem 1rem;
}
.program{
   margin: 2rem 4rem 3rem 1rem;
}
.Dee{
   margin: 2rem 4rem 7rem 1rem;
}
